# Abaikan file JSON kredensial Google
service-account-key.json
kritikdansaran-ae3375e6c7a1.json

# Abaikan file konfigurasi Streamlit
.streamlit/

# Abaikan file cache dan log
__pycache__/
*.pyc
*.log

# Abaikan file editor
.vscode/
.idea/
*.swp
.DS_Store

